[% PROCESS header.html %]

<body[% IF close_window %] onLoad="self.close();"[% END %]>

  <div id="container">
    <div id="info">
      <p>[% username %][% IF admin %] (administration)[% END %]</p>
    </div>

<div id="rawsource">
[% IF confirmation %]<form method="post" action="[% cgibin_path %]/rawsource.cgi">
  <input type="hidden" name="id" value="[% message_id %]"/>
  <div id="message">
    <img src="[% htdocs_path %]/images/warning.gif" width="16" height="16" alt="warning" />&nbsp;[% confirmation %]&nbsp;<input type="submit" class="button" name="reinject" value="[% i18n('Reinject') %]"/>
  </div></form>
[% ELSIF virus %]<div id="message"><img src="[% htdocs_path %]/images/message.gif" width="16" height="16" alt="message"/>&nbsp;<a href="http://www.viruslist.com/eng/viruslistfind.html?rub4=001&findWhere=&findTxt=[% virus %]" target="_virus">[% i18n('More info about virus') %] <b>[% virus %]</b></a></div>
[% ELSIF error %]<div id="message"><img src="[% htdocs_path %]/images/warning.gif" width="16" height="16" alt="warning"/>&nbsp;[% error %]</div>
[% ELSE %]<div id="message">&nbsp;</div>[% END %]

      <div id="contents">
        <table id="headers">[% FOREACH header IN keys %]
          <tr class="row[% strip(loop.count) %]"><th>[% header %]</th><td>[% headers.$header %]</td></tr>
        [% END %]</table>

        <pre>
[% body %]
        </pre>


[% IF allow_reinjection %]      <div id="form">
<form method="post" action="[% cgibin_path %]/rawsource.cgi">
<input type="hidden" name="id" value="[% message_id %]" />
<div class="button"><input class="button" type="submit" name="[% IF virus %]confirm[% ELSE %]reinject[% END %]" value="[% i18n('Reinject') %]" /></div></form>
        </div> <!-- #form -->[% END %]
      </div> <!-- #contents -->
    </div> <!-- #rawsource -->
    [% PROCESS footer.html %]
  </div> <!-- #container -->

</body>
</html>
